<header>
  <h1>
NASA Photo Gallery
  </h1>
  <form method="GET" action="/search/">
    {{ form.search_input.label }}
    {{ form.search_input(size=32) }}
    <input type="submit" value="Submit">
  </form>
</header>

{% for item in search_results %}
  <img src=item> #please make this show the images i dunno how the API works
  <form method="POST" action="/">
    <input type="submit" value="Submit"> #also i dont know how to associate the button with the image
  </form>
{% endfor %}