<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {{ bootstrap.load_css() }}
</head>
<body>
  <div>
    <a href="/">Search</a><br>
    <a href="/gallery">Your Gallery</a><br><br>
  </div>
  <h1 class="mt-5"> NASA's Image of {{data.date}} </h1>

  <p>{{data.title}}</p><br>
  <p>Details: {{data.explanation}}</p><br>
  <img src="{{data.url}}" alt="{{data.title}}" class="rounded w-50"><br>

  <h2><b>Would you like to add this image to your gallery?</b></h2>
  <form method="POST" action="/favorites">
    {{form.csrf_token}}
    {{form.image_title(value=data.title)}}
    {{form.date_of_image(value=data.date)}}
    {{form.decision.label}}
    {{form.decision}}
    <input type="submit" value="Submit">
  </form>
  
  
</body>
</html>